<div ng-controller="HeaderCtrl">
  <nav id="header" class="navbar navbar-fixed-top fixed ha-header ha-header-large">
      <div id="header-container" class="hero-container navbar-container">
        <div class="row hero_row">
          <div class="toolbar clearfix">
              <div class="row hero_row">
                <div class="columns large-12">
                  <h1 class="logo">
                      <a href="https://netlingshq.com/" title="PSD to HTML, PSD to Email, Wordpress, Shopify and RubyOnRails">
                        <img src="/images/logo32-e3e82d1e19c68ef9c38959e68f4dae82.png" alt="Logo32"> Dogler - Fs
                    </a>
                  </h1>

                </div>
              </div>
          </div>
        </div>
      </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div>
<div class="content-hero">
  <section class="section hero">
  <div class="overlay">
    <div class="row hero_row">
      <div class="medium-12 columns text-center">
        <h1 class="headline ha-waypoint" data-animate-down="ha-header-small" data-animate-up="ha-header-large">Tu <span class="serif">Solución</span> en gestión documental.</h1>
        <h2 class="underlined intro show-for-medium-up">Te ofrecemos una experiencia innovadora para menejar y buscar cualquier clase de documentacion &amp; muchas empresas ya lo usan.</h2>
        <br>
      </div>
    </div>
    <div class="row hero_row">
      <div class="medium-7 large-5 columns small-centered text-center">
        <p><a class="button round" href="/briefings/new"><strong>TOMA TU PLAN EMPRESARIAL GRATUITO!</strong></a></p>
      </div>
    </div>
  </div>
  </section>
<section class="section">
  <div class="row hero_row">
    <div class="columns large-12 text-center">
      <h2 class="boldest-text">Your UI/UX Design to Code</h2>
    </div>
  </div>
  <div class="row hero_row">
    <div class="columns large-7 text-center medium-centered">
      <h5 class="subheader show-for-medium-up underlined">
      With Netlings, it's simple to turn your UI/UX designs into functional software for web and mobile platforms. Whether your project is meant for small group or hundreds of millions of users, you get efficient <strong>production quality</strong> code.
      </h5>
      <br><br>
    </div>
  </div>
  <div class="row hero_row">
      <div class="col-lg-3 featured-box text-center large-offset-1">
        <br>
        <i class="fa fa-html5 fa-3x" aria-hidden="true"></i>
        <h6><strong>FRONT-END</strong></h6>
        <p class="muted small">Get designs crafted into functional, production quality front-end.</p>
        <p class="muted"><a href="/psd-to-html">Learn more</a></p>
      </div>
      <div class="col-lg-3 featured-box text-center with-left-border">
        <br>
        <i class="fa fa-html5 fa-3x alert-text"></i>
        <h6><strong>HTML EMAIL</strong></h6>
        <p class="muted small">Stay sane and let us worry about compatible HTML Emails.</p>
        <p class="muted"><a href="/psd-to-email">Learn more</a></p>
      </div>
      <div class="col-lg-3 featured-box text-center with-left-border">
        <br>
        <i class="fa fa-html5 fa-3x alert-text"></i>
        <h6><strong>WEBSITES</strong></h6>
        <p class="muted small">Deliver easy-to-update, fast, secure and seo optimised websites.</p>
        <p class="muted"><a href="/psd-to-wordpress">Learn more</a></p>
      </div>
      <div class="col-lg-3 featured-box text-center with-left-border">
        <br>
        <i class="fa fa-html5 fa-3x alert-text"></i>
        <h6><strong>WEB APPS</strong></h6>
        <p class="muted small">Let experts build fast &amp; secure web apps on scalable technologies.</p>
        <p class="muted"><a href="/ruby-on-rails">Learn more</a></p>
      </div>
  </div>
</section>
</div>
